<ul *ngFor=" let k of locations">
    <li><mat-checkbox color="primary"  (change)="selectOne($event)" >{{k.name}}</mat-checkbox></li>

    <ul  *ngFor="let i of k.advertisers let z = index">
        <li>
            <mat-checkbox color="primary" 
            [(ngModel)]="k.completed" (change)="selectOne($event)" >{{i.city.name}} </mat-checkbox>
        </li>

        <ul *ngFor="let n of i.area">
            <li>
                <mat-checkbox color="primary" [(ngModel)]="k.completed">{{n.area}}</mat-checkbox>
            </li>
        </ul>
    </ul>
    
</ul>