<!-- <div class="row">
  <div class="col-md-1">
    <div class="nav">
      <a routerLink="dashboard"><mat-icon>speed</mat-icon></a>
      <a routerLink="project"><mat-icon>storage</mat-icon></a>
      <a routerLink="createProject"><mat-icon>add</mat-icon></a>
      <a routerLink="login"><mat-icon>logout</mat-icon></a>
    </div>
  </div>
  <div class="col-md-11">
    <router-outlet></router-outlet>
  </div>
</div> -->

<div class="row">
  <div class="col-md-2">
    <div class="nav">
      <a routerLink="Home"><mat-icon>home</mat-icon></a>
      <a routerLink="Location"><mat-icon>location_on</mat-icon></a>
      <a routerLink="mock"><mat-icon>location_on</mat-icon></a>
      </div>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>