
    <!-- <ul *ngFor=" let k of locations">
        <li>{{k.name}}</li>

        <li>{{k.advertisers}}</li>

            <ul *ngFor="let l of k.advertisers ">

                <li>{{l.city}}</li>
                
                    <ul>
                        <li>{{l.area}}</li>
                    </ul>
            </ul>

    </ul> -->
    <ul *ngFor=" let k of locations">
        <li><mat-checkbox>{{k.name}}</mat-checkbox></li>
        <ul  *ngFor="let i of k.advertisers">
            <li><mat-checkbox>{{i.city.name}}</mat-checkbox></li>
            <ul *ngFor="let n of i.area">
                <li><mat-checkbox>{{n.area}}</mat-checkbox></li>
            </ul>
        </ul>
        
    </ul>
